#Airflow env variables
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./airflow
_AIRFLOW_WWW_USER_USERNAME=airflow      
_AIRFLOW_WWW_USER_PASSWORD=password

# PostgreSQL for F1 database
F1_POSTGRES_USER=admin
F1_POSTGRES_PASSWORD=password
F1_POSTGRES_DB=f1_db
F1_POSTGRES_PORT=5433